body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer{
    background-color: khaki;
    height: 20vh;
}

.container{
    display: flex;
    flex-grow: 1;   /* Flex Item */
}

article{
    flex-grow: 1;   /* Flex Item */
    order: 1;
}

nav{
    width: 20vw;    /* vw (ukuran mengikuti website)*/
    background-color: lightblue;
    order: 3;
}

aside{
    width: 20vw;
    background-color: pink;
    order: 2;
}