body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-grow: 1;
}

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

nav {
    background-color: pink;
    width: 20vw;
    
}

header, footer {
    background-color: khaki;
    height: 20vh;
}

article {
    flex-grow: 1;
}

aside {
    background-color: cyan;
    width: 20vw;
}

p{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
}