.topbox{
    width: 100%;
    height: 100px;
    background-color: #aedd94;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

/* Mencari class box pertama disetiap container */
.container .box:nth-child(1){
    background-color: #f4eb49;
    width: 20%;
}

/* Mencari class box kedua disetiap container */
.container .box:nth-child(2){
    width: 79%;
}

.box{
    height: 300px;
}

.bg-orange{
    background-color: #f76424;
}

.bg-blue{
    background-color: #4dd7fa;
}
